body {font-family: 'Roboto', sans-serif; color:#434455; background-color:#FFF;}
ul,
ol {
    list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
margin-top: 0;
margin-bottom: 0;
}
ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
img {
    display: block;
}
button {cursor: pointer;}
a {
    text-decoration: none;
}
.link {
    text-decoration: none;
}
.span {
    color: #2e2f42;}
.nav {
    display: flex;
    align-items: center;
}
.navigation{
    font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        display: flex;
        gap: 40px;
}
.link-box {
    display: block;
}
.adresa {
    font-style: normal;
    margin-left: auto;
}
.adress-container {
    display: flex;
    gap: 40px;
}
.contact{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.32px;
    color:#434455;
}
            .contact:hover, .contact:focus {
                color:#404bbf;}
.content-back {
background: #2E2F42;
}
.content {
    color: #FFF;
        font-size: 56px;
        font-weight: 700;
        line-height: 1.07;
        letter-spacing: 1.12px;
        max-width: 496px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 48px;
}
.button {
    color: #FFF;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.64px;
        background: #4D5AE5;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 169px;
        height: 56px;
        min-width: 169px;
        border: none;
        border-radius: 4px;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages {
        display: flex;
        gap: 24px;
}
.advantages-list {
    width: calc((100% - 72px) /4);
}
.content-main {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color:#2e2f42;
        margin-bottom: 8px;
}
.content-item {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.team-back{
    background-color: #F4F4FD;
    padding: 188px 0;
}
.team-page-container {
display: flex;
gap: 24px;
}
.section-team-three-back {
    background-color: #FFFFFF;
    width: calc((100% - 72px) / 4);
border-radius: 0px 0px 4px 4px

}
.team-main{
    color: #2E2F42;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.72px;
        text-transform: capitalize;
    margin-bottom: 72px;
}
.team-name {
color: #2E2F42;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
    margin-bottom: 8px;
}
.team-profession {
    color: #434455;
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.name-proffesion {
    padding: 32px 0;
}
.portfolio-back{
    background-color: #FFFFFF;
}
.section-portfolio-three-back {
    background-color: #FFFFFF;
width: calc((100% - 48px) / 3);
}
.portfolio-title {
    text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.72px;
text-transform: capitalize;
margin-bottom: 72px;
}
.portfolio-container {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.list-portfolio {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-about {
    font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.4px;
        color:#2e2f42;
        margin-bottom: 8px;
}
.portfolio-value {
    color: #434455;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.32px;
}
.logo{
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
        color: #4d5ae5;
}
.logo-mar {
    margin-right: 76px;
}
.site{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#2e2f42;
    padding: 24px 0;
}
.footer-back {
    background-color:#2e2f42;
    padding: 100px 0;
}
.footer-end{
color: #F4F4FD;
font-family: Roboto;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.32px;
background: #2E2F42;
width: 264px;
}
.link-selection:hover {
    color:#404BBF;
}
a:focus {
    color: #404BBF;
}
.button:hover, .button:focus {
    background: #404BBF;
}
.footer-logo{color: #f4f4fd;}

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.page-header-container {
    display: flex;
    align-items: baseline
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}
.logo-link {
    display: inline-block;
    margin-bottom: 16px;
}
.content-padding {
    padding: 188px 0;
}